<aside>
	<div class="user">{{ site.data.aside.user_fullname }}</div>
	<div class="baseurl padb10"><a href="/">@<span>{{ site.url }}</span></a></div>
	<div class="about padb10">{{ site.data.aside.user_about }}</div>
	<ul class="socLinks">
		<li class="twitter"><span></span><a href="https://twitter.com/{{ site.data.username_twitter }}">{{ site.data.aside.username_twitter }}</a></li>
		<li class="vkcom"><span></span><a href="https://vk.com/{{ site.data.username_vkcom }}">{{ site.data.aside.username_vkcom }}</a></li>
		<li class="aboutme"><span></span><a href="https://about.me/{{ site.data.username_aboutme }}">{{ site.data.aside.username_aboutme }}</a></li>
	</ul>
</aside>